* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
	background-color: rgb(0,0,0)
}

.intro h1 {
	font-family: Verdana, sans-serif;
	font-weight: normal;
	font-size: 50px;
	color: rgb(255,255,255);
	padding: 30px;
}

a {
	color: aquamarine;
	font-size: 16px;
}

.mainBody h1 {
	font-family: Verdana, sans-serif;
	font-weight: 300;
	font-size: 42px;
	color: rgb(255,255,255);
	padding: 20px;
}

.mainBody h3 {
	font-family: Verdana, sans-serif;
	font-size: 21px;
	color: rgb(128,128,128);
	padding: 20px;
}

.icon {
	padding: 20px;
}

.closing h1 {
	font-family: Verdana, sans-serif;
	font-weight: 300;
	font-size: 42px;
	color: rgb(255,255,255);
	padding: 20px;
}

.copyright h4{
	text-align: right;
	color: rgb(128,128,128);
	padding: 20px;
}